<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>GSRoughenHorizontal</key>
      <integer>15</integer>
      <key>GSRoughenSegmentLength</key>
      <integer>15</integer>
      <key>GSRoughenVertical</key>
      <integer>10</integer>
    </dict>
  </dict>
</plist>
