<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>E</key>
    <string>E_.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>Germandbls</key>
    <string>G_ermandbls.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>approxequal</key>
    <string>approxequal.glif</string>
    <key>asciicircum</key>
    <string>asciicircum.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>f_i.liga</key>
    <string>f_i.liga.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>greaterequal</key>
    <string>greaterequal.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>logicalnot</key>
    <string>logicalnot.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>plusminus</key>
    <string>plusminus.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>section</key>
    <string>section.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>x</key>
    <string>x.glif</string>
  </dict>
</plist>
