{
.appVersion = "3217";
classes = (
{
automatic = 1;
code = "A Aacute Abreve Acircumflex Adieresis Agrave Amacron Aogonek Aring Atilde AE B C Cacute Ccaron Ccedilla Cdotaccent D Eth Dcaron Dcroat E Eacute Ecaron Ecircumflex Edieresis Edotaccent Egrave Emacron Eogonek F G Gbreve Gcommaaccent Gdotaccent H Hbar I Iacute Icircumflex Idieresis Idotaccent Igrave Imacron Iogonek J K Kcommaaccent L Lacute Lcaron Lcommaaccent Lslash M N Nacute Ncaron Ncommaaccent Ntilde O Oacute Ocircumflex Odieresis Ograve Ohungarumlaut Omacron Oslash Otilde OE P Thorn Q R Racute Rcaron Rcommaaccent S Sacute Scaron Scedilla Scommaaccent Germandbls T Tcaron Tcedilla Tcommaaccent U Uacute Ucircumflex Udieresis Ugrave Uhungarumlaut Umacron Uogonek Uring V W X Y Yacute Ycircumflex Ydieresis Z Zacute Zcaron Zdotaccent";
name = Uppercase;
}
);
copyright = "© 2023, Alberto Casagrande & Collletttivo";
customParameters = (
{
name = fsType;
value = (
);
},
{
name = "Use Typo Metrics";
value = 1;
},
{
name = unicodeRanges;
value = (
0,
1
);
},
{
name = "Disable Last Change";
value = 1;
},
{
name = "Write DisplayStrings";
value = 0;
},
{
name = license;
value = "SIL Open Font License";
},
{
name = licenseURL;
value = "http://scripts.sil.org/OFL";
},
{
name = vendorID;
value = CLT;
},
{
name = Axes;
value = (
{
Name = Weight;
Tag = wght;
}
);
}
);
date = "2022-04-14 00:13:34 +0000";
designer = "Alberto Casagrande & Collletttivo";
familyName = "Mazius Display";
featurePrefixes = (
{
automatic = 1;
code = "languagesystem DFLT dflt;\012\012languagesystem latn dflt;\012languagesystem latn AZE;\012languagesystem latn CRT;\012languagesystem latn KAZ;\012languagesystem latn TAT;\012languagesystem latn TRK;\012languagesystem latn ROM;\012languagesystem latn MOL;\012";
name = Languagesystems;
}
);
features = (
{
automatic = 1;
code = "feature locl;\012feature sups;\012feature frac;\012feature ordn;\012";
name = aalt;
},
{
automatic = 1;
code = "script latn;\012language AZE;\012lookup locl_latn_0 {\012	sub i by idotaccent;\012} locl_latn_0;\012language CRT;\012lookup locl_latn_0;\012language KAZ;\012lookup locl_latn_0;\012language TAT;\012lookup locl_latn_0;\012language TRK;\012lookup locl_latn_0;\012\012script latn;\012language ROM;\012lookup locl_latn_1 {\012	sub Scedilla by Scommaaccent;\012	sub scedilla by scommaaccent;\012	sub Tcedilla by Tcommaaccent;\012	sub tcedilla by tcommaaccent;\012} locl_latn_1;\012language MOL;\012lookup locl_latn_1;\012";
name = locl;
},
{
automatic = 1;
code = "sub zero by zerosuperior;\012sub one by onesuperior;\012sub two by twosuperior;\012sub three by threesuperior;\012";
name = sups;
},
{
automatic = 1;
code = "sub one slash four by onequarter;\012sub one slash two by onehalf;\012sub three slash four by threequarters;\012";
name = frac;
},
{
automatic = 1;
code = "sub [zero one two three four five six seven eight nine] [A a]' by ordfeminine;\012sub [zero one two three four five six seven eight nine] [O o]' by ordmasculine;\012";
name = ordn;
}
);
fontMaster = (
{
alignmentZones = (
"{750, 14}",
"{700, 14}",
"{470, 14}",
"{0, -14}",
"{-250, -14}"
);
ascender = 750;
capHeight = 700;
custom = "Extra Italic";
customParameters = (
{
name = typoAscender;
value = 956;
},
{
name = typoDescender;
value = -256;
},
{
name = typoLineGap;
value = 120;
},
{
name = winAscent;
value = 956;
},
{
name = winDescent;
value = 302;
},
{
name = hheaAscender;
value = 956;
},
{
name = hheaDescender;
value = -256;
},
{
name = hheaLineGap;
value = 120;
}
);
descender = -250;
id = "4AEC2A2F-21E0-4005-B5C4-61417F12BD89";
italicAngle = 17;
userData = {
GSRoughenHorizontal = 15;
GSRoughenSegmentLength = 15;
GSRoughenVertical = 10;
};
weightValue = 90;
xHeight = 470;
},
{
alignmentZones = (
"{750, 14}",
"{700, 14}",
"{490, 14}",
"{0, -14}",
"{-250, -14}"
);
ascender = 750;
capHeight = 700;
custom = "Extra Italic";
customParameters = (
{
name = typoAscender;
value = 956;
},
{
name = typoDescender;
value = -256;
},
{
name = typoLineGap;
value = 120;
},
{
name = winAscent;
value = 956;
},
{
name = winDescent;
value = 302;
},
{
name = hheaAscender;
value = 956;
},
{
name = hheaDescender;
value = -256;
},
{
name = hheaLineGap;
value = 120;
}
);
descender = -250;
iconName = Bold;
id = "B4D6250A-EC24-4DD5-8C49-5E627D155568";
italicAngle = 17;
name = "Extra Italic Bold";
weight = Bold;
weightValue = 144;
xHeight = 490;
}
);
instances = (
{
interpolationWeight = 90;
instanceInterpolations = {
"4AEC2A2F-21E0-4005-B5C4-61417F12BD89" = 1;
};
name = "Extra italic";
},
{
interpolationWeight = 144;
instanceInterpolations = {
"B4D6250A-EC24-4DD5-8C49-5E627D155568" = 1;
};
isBold = 1;
linkStyle = "Extra Italic";
name = "Extra Italic Bold";
weightClass = Bold;
}
);
kerning = {
"4AEC2A2F-21E0-4005-B5C4-61417F12BD89" = {
"@MMK_L_C" = {
"@MMK_R_H" = -16;
"@MMK_R_idotless" = -8;
};
"@MMK_L_F" = {
"@MMK_R_o" = -40;
"@MMK_R_period" = -32;
};
"@MMK_L_H" = {
"@MMK_R_O" = -16;
};
"@MMK_L_L" = {
"@MMK_R_T" = -88;
"@MMK_R_Y" = -116;
};
"@MMK_L_O" = {
"@MMK_R_H" = -16;
"@MMK_R_V" = -24;
"@MMK_R_o" = 4;
"@MMK_R_period" = -12;
};
"@MMK_L_T" = {
"@MMK_R_idotless" = -60;
"@MMK_R_o" = -68;
"@MMK_R_period" = -40;
"@MMK_R_s" = -68;
"@MMK_R_y" = -60;
};
"@MMK_L_V" = {
"@MMK_R_H" = -8;
};
"@MMK_L_Y" = {
"@MMK_R_idotless" = -56;
"@MMK_R_o" = -80;
"@MMK_R_p" = -76;
"@MMK_R_s" = -80;
};
"@MMK_L_c" = {
"@MMK_R_f" = -12;
"@MMK_R_idotless" = -4;
"@MMK_R_o" = -8;
};
"@MMK_L_f" = {
"@MMK_R_f" = -32;
"@MMK_R_g" = -24;
"@MMK_R_idotless" = -20;
"@MMK_R_j" = -20;
"@MMK_R_o" = -28;
"@MMK_R_s" = -20;
};
"@MMK_L_five" = {
"@MMK_R_O" = -30;
"@MMK_R_hyphen" = -60;
"@MMK_R_two" = -10;
};
"@MMK_L_four" = {
"@MMK_R_hyphen" = -70;
"@MMK_R_period" = 10;
"@MMK_R_six" = -20;
};
"@MMK_L_hyphen" = {
"@MMK_R_four" = -30;
"@MMK_R_one" = -40;
"@MMK_R_three" = -10;
"@MMK_R_two" = -50;
};
"@MMK_L_idotless" = {
"@MMK_R_g" = -8;
"@MMK_R_idotless" = -16;
"@MMK_R_j" = -12;
"@MMK_R_l" = -8;
"@MMK_R_o" = -8;
"@MMK_R_p" = -14;
"@MMK_R_quoteright" = -80;
"@MMK_R_y" = -20;
};
"@MMK_L_j" = {
"@MMK_R_j" = -12;
};
"@MMK_L_l" = {
"@MMK_R_g" = -8;
"@MMK_R_idotless" = -16;
"@MMK_R_o" = -8;
"@MMK_R_p" = -20;
};
"@MMK_L_n" = {
"@MMK_R_o" = -4;
};
"@MMK_L_o" = {
"@MMK_R_idotless" = -12;
"@MMK_R_j" = -8;
"@MMK_R_l" = -8;
"@MMK_R_p" = -16;
"@MMK_R_x" = -16;
"@MMK_R_y" = -8;
};
"@MMK_L_one" = {
"@MMK_R_hyphen" = -60;
};
"@MMK_L_period" = {
"@MMK_R_five" = -20;
"@MMK_R_nine" = -20;
"@MMK_R_seven" = -70;
"@MMK_R_three" = -60;
};
"@MMK_L_quoteright" = {
"@MMK_R_s" = -20;
};
"@MMK_L_r" = {
"@MMK_R_g" = -36;
"@MMK_R_o" = -36;
"@MMK_R_quoteright" = -40;
};
"@MMK_L_s" = {
"@MMK_R_y" = -12;
};
"@MMK_L_seven" = {
"@MMK_R_O" = 0;
"@MMK_R_four" = -20;
"@MMK_R_period" = -80;
};
"@MMK_L_six" = {
"@MMK_R_four" = -20;
"@MMK_R_period" = -70;
"@MMK_R_three" = -20;
};
"@MMK_L_t" = {
"@MMK_R_o" = -12;
"@MMK_R_quoteright" = -40;
};
"@MMK_L_three" = {
"@MMK_R_hyphen" = -70;
};
"@MMK_L_two" = {
"@MMK_R_hyphen" = -40;
"@MMK_R_seven" = -50;
};
"@MMK_L_v" = {
"@MMK_R_quoteright" = -40;
"@MMK_R_y" = -8;
};
"@MMK_L_x" = {
"@MMK_R_o" = -8;
};
"@MMK_L_z" = {
"@MMK_R_o" = -20;
};
"@MMK_L_zero" = {
"@MMK_R_four" = -20;
};
};
"B4D6250A-EC24-4DD5-8C49-5E627D155568" = {
"@MMK_L_F" = {
"@MMK_R_period" = -40;
};
"@MMK_L_H" = {
"@MMK_R_O" = -20;
};
"@MMK_L_L" = {
"@MMK_R_T" = -92;
"@MMK_R_Y" = -112;
};
"@MMK_L_O" = {
"@MMK_R_H" = -20;
"@MMK_R_V" = -28;
"@MMK_R_period" = -16;
};
"@MMK_L_T" = {
"@MMK_R_idotless" = -16;
"@MMK_R_o" = -48;
"@MMK_R_period" = -44;
"@MMK_R_s" = -40;
};
"@MMK_L_Y" = {
"@MMK_R_idotless" = -72;
"@MMK_R_o" = -88;
"@MMK_R_p" = -92;
};
"@MMK_L_c" = {
"@MMK_R_idotless" = -8;
"@MMK_R_o" = -12;
};
"@MMK_L_dollar" = {
"@MMK_R_five" = -20;
"@MMK_R_four" = -30;
"@MMK_R_one" = -40;
"@MMK_R_six" = -20;
"@MMK_R_two" = -20;
};
"@MMK_L_eight" = {
"@MMK_R_five" = 10;
"@MMK_R_nine" = 10;
"@MMK_R_o" = 30;
"@MMK_R_period" = 0;
"@MMK_R_seven" = 20;
"@MMK_R_six" = 20;
"@MMK_R_three" = 20;
"@MMK_R_zero" = 20;
comma = -20;
};
"@MMK_L_euro" = {
"@MMK_R_eight" = 50;
"@MMK_R_five" = 50;
"@MMK_R_four" = 0;
"@MMK_R_nine" = 50;
"@MMK_R_one" = 30;
"@MMK_R_seven" = 40;
"@MMK_R_six" = 40;
"@MMK_R_three" = 60;
"@MMK_R_two" = 50;
"@MMK_R_zero" = 60;
};
"@MMK_L_f" = {
"@MMK_R_f" = -60;
"@MMK_R_g" = -44;
"@MMK_R_idotless" = -32;
"@MMK_R_j" = -28;
"@MMK_R_o" = -48;
"@MMK_R_s" = -32;
};
"@MMK_L_five" = {
"@MMK_R_eight" = 0;
"@MMK_R_nine" = 10;
"@MMK_R_seven" = -10;
"@MMK_R_six" = -20;
"@MMK_R_three" = 30;
"@MMK_R_two" = 10;
hyphen = -30;
quotesingle = -50;
};
"@MMK_L_four" = {
"@MMK_R_hyphen" = 0;
"@MMK_R_nine" = -20;
"@MMK_R_seven" = -20;
"@MMK_R_six" = -20;
"@MMK_R_three" = 20;
"@MMK_R_zero" = -40;
endash = -20;
hyphen = -40;
quotesingle = -50;
};
"@MMK_L_hyphen" = {
"@MMK_R_seven" = 40;
"@MMK_R_six" = 20;
eight = 0;
five = 40;
nine = 40;
seven = 40;
six = 20;
three = 20;
zero = 30;
};
"@MMK_L_idotless" = {
"@MMK_R_g" = -12;
"@MMK_R_idotless" = -20;
"@MMK_R_j" = -8;
"@MMK_R_l" = -12;
"@MMK_R_o" = -12;
"@MMK_R_p" = -16;
"@MMK_R_quoteright" = -84;
};
"@MMK_L_j" = {
"@MMK_R_j" = -12;
};
"@MMK_L_l" = {
"@MMK_R_idotless" = -16;
"@MMK_R_o" = -12;
};
"@MMK_L_nine" = {
"@MMK_R_eight" = 10;
"@MMK_R_five" = 20;
"@MMK_R_four" = 0;
"@MMK_R_nine" = 10;
"@MMK_R_o" = 40;
"@MMK_R_seven" = 20;
"@MMK_R_three" = 20;
"@MMK_R_zero" = 20;
comma = -40;
endash = 10;
quotesingle = -40;
};
"@MMK_L_o" = {
"@MMK_R_idotless" = -12;
"@MMK_R_j" = -8;
"@MMK_R_l" = -10;
"@MMK_R_p" = -16;
};
"@MMK_L_one" = {
"@MMK_R_five" = 10;
"@MMK_R_period" = -20;
"@MMK_R_seven" = 10;
"@MMK_R_three" = 10;
quotesingle = -40;
};
"@MMK_L_period" = {
"@MMK_R_eight" = -30;
"@MMK_R_five" = -30;
"@MMK_R_nine" = -40;
"@MMK_R_one" = -10;
"@MMK_R_seven" = -50;
"@MMK_R_six" = -50;
"@MMK_R_three" = -40;
"@MMK_R_two" = -30;
"@MMK_R_zero" = -40;
nine = -60;
seven = -80;
six = -60;
two = -40;
};
"@MMK_L_quoteright" = {
"@MMK_R_s" = -20;
};
"@MMK_L_quotesingle" = {
"@MMK_R_two" = -20;
eight = -10;
four = -90;
nine = -60;
one = -30;
seven = -10;
three = -10;
zero = -30;
};
"@MMK_L_r" = {
"@MMK_R_g" = -44;
"@MMK_R_o" = -44;
"@MMK_R_quoteright" = -48;
};
"@MMK_L_seven" = {
"@MMK_R_eight" = 10;
"@MMK_R_five" = 30;
"@MMK_R_four" = -30;
"@MMK_R_nine" = 0;
"@MMK_R_o" = 20;
"@MMK_R_one" = -20;
"@MMK_R_seven" = 30;
"@MMK_R_six" = 10;
"@MMK_R_three" = 30;
"@MMK_R_two" = 20;
"@MMK_R_zero" = 10;
comma = -50;
endash = 10;
};
"@MMK_L_six" = {
"@MMK_R_eight" = 30;
"@MMK_R_five" = 30;
"@MMK_R_nine" = 30;
"@MMK_R_o" = 40;
"@MMK_R_period" = 0;
"@MMK_R_seven" = 30;
"@MMK_R_six" = 20;
"@MMK_R_three" = 30;
"@MMK_R_two" = 10;
"@MMK_R_zero" = 30;
comma = -50;
quotesingle = -20;
};
"@MMK_L_sterling" = {
"@MMK_R_one" = -40;
"@MMK_R_seven" = -20;
"@MMK_R_three" = -10;
"@MMK_R_two" = -30;
};
"@MMK_L_t" = {
"@MMK_R_o" = -12;
"@MMK_R_quoteright" = -52;
};
"@MMK_L_three" = {
"@MMK_R_eight" = -10;
"@MMK_R_five" = 10;
"@MMK_R_one" = -20;
"@MMK_R_seven" = -20;
"@MMK_R_six" = -20;
"@MMK_R_three" = 30;
"@MMK_R_zero" = -20;
comma = -40;
endash = -20;
hyphen = -30;
quotesingle = -50;
};
"@MMK_L_two" = {
"@MMK_R_eight" = 40;
"@MMK_R_five" = 40;
"@MMK_R_four" = 30;
"@MMK_R_hyphen" = 0;
"@MMK_R_nine" = 50;
"@MMK_R_o" = 50;
"@MMK_R_seven" = 20;
"@MMK_R_six" = 30;
"@MMK_R_three" = 20;
"@MMK_R_zero" = 50;
endash = 20;
quotesingle = -80;
};
"@MMK_L_v" = {
"@MMK_R_quoteright" = -52;
};
"@MMK_L_yen" = {
"@MMK_R_five" = -30;
"@MMK_R_four" = -70;
"@MMK_R_nine" = -30;
"@MMK_R_one" = -50;
"@MMK_R_seven" = -20;
"@MMK_R_six" = -40;
"@MMK_R_two" = -20;
"@MMK_R_zero" = -30;
};
"@MMK_L_zero" = {
"@MMK_R_eight" = 20;
"@MMK_R_five" = 30;
"@MMK_R_four" = 10;
"@MMK_R_nine" = 50;
"@MMK_R_o" = 40;
"@MMK_R_seven" = 50;
"@MMK_R_six" = 30;
"@MMK_R_three" = 50;
"@MMK_R_two" = 30;
"@MMK_R_zero" = 40;
endash = 40;
hyphen = 30;
};
eight = {
"@MMK_R_quotesingle" = -20;
};
hyphen = {
"@MMK_R_five" = 20;
};
six = {
"@MMK_R_hyphen" = 20;
endash = 30;
};
zero = {
"@MMK_R_quotesingle" = -50;
};
};
};
manufacturer = Collletttivo;
manufacturerURL = "https://www.collletttivo.it";
unitsPerEm = 1000;
userData = {
GSDimensionPlugin.Dimensions = {
"33C692B7-ECA1-4228-A9DA-44701B454552" = {
HV = "100";
OV = "110";
nV = "89";
nd = "4";
oH = "42";
};
"4AEC2A2F-21E0-4005-B5C4-61417F12BD89" = {
HH = "18";
HV = "94";
OH = "20";
OV = "106";
nV = "84";
oH = "24";
oV = "92";
tH = "14";
};
"B4D6250A-EC24-4DD5-8C49-5E627D155568" = {
HH = "26";
HV = "144";
OH = "24";
OV = "166";
nV = "136";
oH = "28";
oV = "148";
tH = "18";
};
};
};
versionMajor = 2;
versionMinor = 0;
}
