<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.A</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Abreve</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>Agrave</string>
      <string>Amacron</string>
      <string>Aogonek</string>
      <string>Aring</string>
      <string>Atilde</string>
    </array>
    <key>public.kern1.B</key>
    <array>
      <string>B</string>
    </array>
    <key>public.kern1.C</key>
    <array>
      <string>C</string>
      <string>Cacute</string>
      <string>Ccaron</string>
      <string>Ccedilla</string>
    </array>
    <key>public.kern1.E</key>
    <array>
      <string>AE</string>
      <string>E</string>
      <string>Eacute</string>
      <string>Ecaron</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Edotaccent</string>
      <string>Egrave</string>
      <string>Emacron</string>
      <string>Eogonek</string>
      <string>OE</string>
    </array>
    <key>public.kern1.F</key>
    <array>
      <string>F</string>
    </array>
    <key>public.kern1.G</key>
    <array>
      <string>G</string>
      <string>Gbreve</string>
      <string>Gcommaaccent</string>
    </array>
    <key>public.kern1.H</key>
    <array>
      <string>H</string>
      <string>I</string>
      <string>Iacute</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Idotaccent</string>
      <string>Igrave</string>
      <string>Imacron</string>
      <string>Iogonek</string>
      <string>M</string>
      <string>N</string>
      <string>Nacute</string>
      <string>Ncaron</string>
      <string>Ncommaaccent</string>
      <string>Ntilde</string>
    </array>
    <key>public.kern1.J</key>
    <array>
      <string>J</string>
    </array>
    <key>public.kern1.K</key>
    <array>
      <string>K</string>
      <string>Kcommaaccent</string>
    </array>
    <key>public.kern1.L</key>
    <array>
      <string>L</string>
      <string>Lacute</string>
      <string>Lcaron</string>
      <string>Lcommaaccent</string>
      <string>Lslash</string>
    </array>
    <key>public.kern1.M</key>
    <array>
      <string>trademark</string>
    </array>
    <key>public.kern1.O</key>
    <array>
      <string>D</string>
      <string>Eth</string>
      <string>Dcaron</string>
      <string>Dcroat</string>
      <string>O</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Odieresis</string>
      <string>Ograve</string>
      <string>Ohungarumlaut</string>
      <string>Omacron</string>
      <string>Oslash</string>
      <string>Otilde</string>
      <string>Q</string>
    </array>
    <key>public.kern1.P</key>
    <array>
      <string>P</string>
    </array>
    <key>public.kern1.R</key>
    <array>
      <string>R</string>
      <string>Racute</string>
      <string>Rcaron</string>
      <string>Rcommaaccent</string>
    </array>
    <key>public.kern1.S</key>
    <array>
      <string>S</string>
      <string>Sacute</string>
      <string>Scaron</string>
      <string>Scedilla</string>
      <string>Scommaaccent</string>
    </array>
    <key>public.kern1.T</key>
    <array>
      <string>T</string>
      <string>Tcaron</string>
      <string>Tcedilla</string>
      <string>Tcommaaccent</string>
    </array>
    <key>public.kern1.Thorn</key>
    <array>
      <string>Thorn</string>
    </array>
    <key>public.kern1.U</key>
    <array>
      <string>U</string>
      <string>Uacute</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Ugrave</string>
      <string>Uhungarumlaut</string>
      <string>Umacron</string>
      <string>Uogonek</string>
      <string>Uring</string>
    </array>
    <key>public.kern1.V</key>
    <array>
      <string>V</string>
    </array>
    <key>public.kern1.W</key>
    <array>
      <string>W</string>
    </array>
    <key>public.kern1.X</key>
    <array>
      <string>X</string>
    </array>
    <key>public.kern1.Y</key>
    <array>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ydieresis</string>
    </array>
    <key>public.kern1.Z</key>
    <array>
      <string>Z</string>
      <string>Zacute</string>
      <string>Zcaron</string>
      <string>Zdotaccent</string>
    </array>
    <key>public.kern1.acutecomb</key>
    <array>
      <string>acute</string>
      <string>acutecomb</string>
    </array>
    <key>public.kern1.acutecomb.case</key>
    <array>
      <string>acutecomb.case</string>
    </array>
    <key>public.kern1.ampersand</key>
    <array>
      <string>ampersand</string>
    </array>
    <key>public.kern1.asciicircum</key>
    <array>
      <string>asciicircum</string>
    </array>
    <key>public.kern1.asciitilde</key>
    <array>
      <string>asciitilde</string>
    </array>
    <key>public.kern1.asterisk</key>
    <array>
      <string>asterisk</string>
    </array>
    <key>public.kern1.at</key>
    <array>
      <string>at</string>
    </array>
    <key>public.kern1.backslash</key>
    <array>
      <string>backslash</string>
    </array>
    <key>public.kern1.bar</key>
    <array>
      <string>bar</string>
    </array>
    <key>public.kern1.braceleft</key>
    <array>
      <string>braceleft</string>
    </array>
    <key>public.kern1.braceright</key>
    <array>
      <string>braceright</string>
    </array>
    <key>public.kern1.bracketleft</key>
    <array>
      <string>bracketleft</string>
    </array>
    <key>public.kern1.bracketright</key>
    <array>
      <string>bracketright</string>
    </array>
    <key>public.kern1.brevecomb</key>
    <array>
      <string>breve</string>
      <string>brevecomb</string>
    </array>
    <key>public.kern1.brokenbar</key>
    <array>
      <string>brokenbar</string>
    </array>
    <key>public.kern1.bullet</key>
    <array>
      <string>bullet</string>
    </array>
    <key>public.kern1.c</key>
    <array>
      <string>c</string>
      <string>cacute</string>
      <string>ccaron</string>
      <string>ccedilla</string>
      <string>cent</string>
    </array>
    <key>public.kern1.caroncomb</key>
    <array>
      <string>caron</string>
      <string>caroncomb</string>
    </array>
    <key>public.kern1.caroncomb.alt</key>
    <array>
      <string>caroncomb.alt</string>
    </array>
    <key>public.kern1.cedillacomb</key>
    <array>
      <string>cedilla</string>
      <string>cedillacomb</string>
    </array>
    <key>public.kern1.circumflexcomb</key>
    <array>
      <string>circumflex</string>
      <string>circumflexcomb</string>
    </array>
    <key>public.kern1.circumflexcomb.case</key>
    <array>
      <string>circumflexcomb.case</string>
    </array>
    <key>public.kern1.commaturnedabovecomb</key>
    <array>
      <string>commaturnedabovecomb</string>
    </array>
    <key>public.kern1.copyright</key>
    <array>
      <string>copyright</string>
    </array>
    <key>public.kern1.currency</key>
    <array>
      <string>currency</string>
    </array>
    <key>public.kern1.dagger</key>
    <array>
      <string>dagger</string>
    </array>
    <key>public.kern1.daggerdbl</key>
    <array>
      <string>daggerdbl</string>
    </array>
    <key>public.kern1.degree</key>
    <array>
      <string>degree</string>
    </array>
    <key>public.kern1.dieresiscomb</key>
    <array>
      <string>dieresiscomb</string>
    </array>
    <key>public.kern1.dieresiscomb.case</key>
    <array>
      <string>dieresiscomb.case</string>
    </array>
    <key>public.kern1.divide</key>
    <array>
      <string>divide</string>
    </array>
    <key>public.kern1.dollar</key>
    <array>
      <string>dollar</string>
    </array>
    <key>public.kern1.dotaccentcomb</key>
    <array>
      <string>dotaccentcomb</string>
    </array>
    <key>public.kern1.e</key>
    <array>
      <string>ae</string>
      <string>e</string>
      <string>eacute</string>
      <string>ecaron</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>edotaccent</string>
      <string>egrave</string>
      <string>emacron</string>
      <string>eogonek</string>
      <string>oe</string>
    </array>
    <key>public.kern1.eight</key>
    <array>
      <string>eight</string>
    </array>
    <key>public.kern1.equal</key>
    <array>
      <string>equal</string>
      <string>notequal</string>
    </array>
    <key>public.kern1.eth</key>
    <array>
      <string>eth</string>
    </array>
    <key>public.kern1.euro</key>
    <array>
      <string>euro</string>
    </array>
    <key>public.kern1.exclam</key>
    <array>
      <string>exclam</string>
    </array>
    <key>public.kern1.exclamdown</key>
    <array>
      <string>exclamdown</string>
    </array>
    <key>public.kern1.f</key>
    <array>
      <string>f</string>
    </array>
    <key>public.kern1.f_b.liga</key>
    <array>
      <string>f_b.liga</string>
    </array>
    <key>public.kern1.f_f.liga</key>
    <array>
      <string>f_f.liga</string>
    </array>
    <key>public.kern1.f_f_i.liga</key>
    <array>
      <string>f_f_i.liga</string>
    </array>
    <key>public.kern1.f_h.liga</key>
    <array>
      <string>f_h.liga</string>
    </array>
    <key>public.kern1.five</key>
    <array>
      <string>five</string>
    </array>
    <key>public.kern1.florin</key>
    <array>
      <string>florin</string>
    </array>
    <key>public.kern1.four</key>
    <array>
      <string>four</string>
    </array>
    <key>public.kern1.g</key>
    <array>
      <string>g</string>
      <string>gbreve</string>
      <string>gcommaaccent</string>
    </array>
    <key>public.kern1.germandbls</key>
    <array>
      <string>germandbls</string>
    </array>
    <key>public.kern1.gravecomb</key>
    <array>
      <string>grave</string>
      <string>gravecomb</string>
    </array>
    <key>public.kern1.gravecomb.case</key>
    <array>
      <string>gravecomb.case</string>
    </array>
    <key>public.kern1.greater</key>
    <array>
      <string>greater</string>
      <string>greaterequal</string>
    </array>
    <key>public.kern1.guillemetleft</key>
    <array>
      <string>guillemetleft</string>
    </array>
    <key>public.kern1.guillemetright</key>
    <array>
      <string>guillemetright</string>
    </array>
    <key>public.kern1.guillemotleft</key>
    <array>
      <string>guilsinglleft</string>
    </array>
    <key>public.kern1.guillemotright</key>
    <array>
      <string>guilsinglright</string>
    </array>
    <key>public.kern1.hungarumlautcomb</key>
    <array>
      <string>hungarumlautcomb</string>
    </array>
    <key>public.kern1.hyphen</key>
    <array>
      <string>hyphen</string>
      <string>endash</string>
      <string>emdash</string>
      <string>plusminus</string>
    </array>
    <key>public.kern1.i</key>
    <array>
      <string>idotless</string>
      <string>iacute</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>idotaccent</string>
      <string>igrave</string>
      <string>imacron</string>
      <string>iogonek</string>
    </array>
    <key>public.kern1.idotless</key>
    <array>
      <string>i</string>
    </array>
    <key>public.kern1.j</key>
    <array>
      <string>jdotless</string>
    </array>
    <key>public.kern1.jdotless</key>
    <array>
      <string>j</string>
    </array>
    <key>public.kern1.k</key>
    <array>
      <string>k</string>
      <string>kcommaaccent</string>
    </array>
    <key>public.kern1.l</key>
    <array>
      <string>d</string>
      <string>dcroat</string>
      <string>l</string>
      <string>lacute</string>
      <string>lcaron</string>
      <string>lcommaaccent</string>
    </array>
    <key>public.kern1.lcaron</key>
    <array>
      <string>dcaron</string>
    </array>
    <key>public.kern1.less</key>
    <array>
      <string>less</string>
      <string>lessequal</string>
    </array>
    <key>public.kern1.logicalnot</key>
    <array>
      <string>logicalnot</string>
    </array>
    <key>public.kern1.lslash</key>
    <array>
      <string>lslash</string>
    </array>
    <key>public.kern1.macron</key>
    <array>
      <string>macron</string>
    </array>
    <key>public.kern1.micro</key>
    <array>
      <string>micro</string>
    </array>
    <key>public.kern1.minus</key>
    <array>
      <string>minus</string>
    </array>
    <key>public.kern1.multiply</key>
    <array>
      <string>multiply</string>
    </array>
    <key>public.kern1.n</key>
    <array>
      <string>a</string>
      <string>aacute</string>
      <string>abreve</string>
      <string>acircumflex</string>
      <string>adieresis</string>
      <string>agrave</string>
      <string>amacron</string>
      <string>aogonek</string>
      <string>aring</string>
      <string>atilde</string>
      <string>h</string>
      <string>m</string>
      <string>n</string>
      <string>nacute</string>
      <string>ncaron</string>
      <string>ncommaaccent</string>
      <string>ntilde</string>
      <string>ordfeminine</string>
    </array>
    <key>public.kern1.nine</key>
    <array>
      <string>nine</string>
    </array>
    <key>public.kern1.numbersign</key>
    <array>
      <string>numbersign</string>
    </array>
    <key>public.kern1.o</key>
    <array>
      <string>b</string>
      <string>o</string>
      <string>oacute</string>
      <string>ocircumflex</string>
      <string>odieresis</string>
      <string>ograve</string>
      <string>ohungarumlaut</string>
      <string>omacron</string>
      <string>oslash</string>
      <string>otilde</string>
      <string>p</string>
      <string>thorn</string>
      <string>ordmasculine</string>
    </array>
    <key>public.kern1.ogonekcomb</key>
    <array>
      <string>ogonek</string>
      <string>ogonekcomb</string>
    </array>
    <key>public.kern1.one</key>
    <array>
      <string>one</string>
      <string>oneinferior</string>
    </array>
    <key>public.kern1.paragraph</key>
    <array>
      <string>paragraph</string>
    </array>
    <key>public.kern1.parenleft</key>
    <array>
      <string>parenleft</string>
    </array>
    <key>public.kern1.parenright</key>
    <array>
      <string>parenright</string>
    </array>
    <key>public.kern1.percent</key>
    <array>
      <string>percent</string>
      <string>perthousand</string>
    </array>
    <key>public.kern1.period</key>
    <array>
      <string>period</string>
      <string>comma</string>
      <string>colon</string>
      <string>semicolon</string>
      <string>ellipsis</string>
      <string>periodcentered</string>
      <string>quotesinglbase</string>
      <string>quotedblbase</string>
      <string>dieresis</string>
      <string>dotaccent</string>
      <string>hungarumlaut</string>
      <string>commaaccentcomb</string>
    </array>
    <key>public.kern1.plus</key>
    <array>
      <string>plus</string>
    </array>
    <key>public.kern1.q</key>
    <array>
      <string>q</string>
    </array>
    <key>public.kern1.question</key>
    <array>
      <string>question</string>
    </array>
    <key>public.kern1.questiondown</key>
    <array>
      <string>questiondown</string>
    </array>
    <key>public.kern1.quotedbl</key>
    <array>
      <string>quotedbl</string>
    </array>
    <key>public.kern1.quotedblleft</key>
    <array>
      <string>quoteleft</string>
    </array>
    <key>public.kern1.quotedblright</key>
    <array>
      <string>quoteright</string>
    </array>
    <key>public.kern1.quoteleft</key>
    <array>
      <string>quotedblleft</string>
    </array>
    <key>public.kern1.quoteright</key>
    <array>
      <string>quotedblright</string>
    </array>
    <key>public.kern1.quotesingle</key>
    <array>
      <string>quotesingle</string>
    </array>
    <key>public.kern1.r</key>
    <array>
      <string>r</string>
      <string>racute</string>
      <string>rcaron</string>
      <string>rcommaaccent</string>
    </array>
    <key>public.kern1.registered</key>
    <array>
      <string>registered</string>
    </array>
    <key>public.kern1.ringcomb</key>
    <array>
      <string>ring</string>
      <string>ringcomb</string>
    </array>
    <key>public.kern1.ringcomb.case</key>
    <array>
      <string>ringcomb.case</string>
    </array>
    <key>public.kern1.s</key>
    <array>
      <string>s</string>
      <string>sacute</string>
      <string>scaron</string>
      <string>scedilla</string>
      <string>scommaaccent</string>
    </array>
    <key>public.kern1.section</key>
    <array>
      <string>section</string>
    </array>
    <key>public.kern1.seven</key>
    <array>
      <string>seven</string>
    </array>
    <key>public.kern1.six</key>
    <array>
      <string>six</string>
    </array>
    <key>public.kern1.slash</key>
    <array>
      <string>slash</string>
    </array>
    <key>public.kern1.space</key>
    <array>
      <string>space</string>
    </array>
    <key>public.kern1.sterling</key>
    <array>
      <string>sterling</string>
    </array>
    <key>public.kern1.t</key>
    <array>
      <string>t</string>
      <string>tcaron</string>
      <string>tcedilla</string>
      <string>tcommaaccent</string>
    </array>
    <key>public.kern1.three</key>
    <array>
      <string>three</string>
    </array>
    <key>public.kern1.tildecomb</key>
    <array>
      <string>approxequal</string>
      <string>tilde</string>
      <string>tildecomb</string>
    </array>
    <key>public.kern1.tildecomb.case</key>
    <array>
      <string>tildecomb.case</string>
    </array>
    <key>public.kern1.two</key>
    <array>
      <string>two</string>
    </array>
    <key>public.kern1.u</key>
    <array>
      <string>u</string>
      <string>uacute</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>ugrave</string>
      <string>uhungarumlaut</string>
      <string>umacron</string>
      <string>uogonek</string>
      <string>uring</string>
    </array>
    <key>public.kern1.underscore</key>
    <array>
      <string>underscore</string>
    </array>
    <key>public.kern1.v</key>
    <array>
      <string>v</string>
    </array>
    <key>public.kern1.w</key>
    <array>
      <string>w</string>
    </array>
    <key>public.kern1.x</key>
    <array>
      <string>x</string>
    </array>
    <key>public.kern1.y</key>
    <array>
      <string>y</string>
      <string>yacute</string>
      <string>ydieresis</string>
    </array>
    <key>public.kern1.yen</key>
    <array>
      <string>yen</string>
    </array>
    <key>public.kern1.z</key>
    <array>
      <string>z</string>
      <string>zacute</string>
      <string>zcaron</string>
      <string>zdotaccent</string>
    </array>
    <key>public.kern1.zero</key>
    <array>
      <string>zero</string>
      <string>zeroinferior</string>
    </array>
    <key>public.kern2.A</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Abreve</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>Agrave</string>
      <string>Amacron</string>
      <string>Aogonek</string>
      <string>Aring</string>
      <string>Atilde</string>
    </array>
    <key>public.kern2.H</key>
    <array>
      <string>B</string>
      <string>D</string>
      <string>Eth</string>
      <string>Dcaron</string>
      <string>Dcroat</string>
      <string>E</string>
      <string>Eacute</string>
      <string>Ecaron</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Edotaccent</string>
      <string>Egrave</string>
      <string>Emacron</string>
      <string>Eogonek</string>
      <string>F</string>
      <string>H</string>
      <string>I</string>
      <string>Iacute</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Idotaccent</string>
      <string>Igrave</string>
      <string>Imacron</string>
      <string>Iogonek</string>
      <string>K</string>
      <string>Kcommaaccent</string>
      <string>L</string>
      <string>Lacute</string>
      <string>Lcaron</string>
      <string>Lcommaaccent</string>
      <string>Lslash</string>
      <string>N</string>
      <string>Nacute</string>
      <string>Ncaron</string>
      <string>Ncommaaccent</string>
      <string>Ntilde</string>
      <string>P</string>
      <string>Thorn</string>
      <string>R</string>
      <string>Racute</string>
      <string>Rcaron</string>
      <string>Rcommaaccent</string>
    </array>
    <key>public.kern2.J</key>
    <array>
      <string>J</string>
    </array>
    <key>public.kern2.M</key>
    <array>
      <string>M</string>
    </array>
    <key>public.kern2.O</key>
    <array>
      <string>C</string>
      <string>Cacute</string>
      <string>Ccaron</string>
      <string>Ccedilla</string>
      <string>G</string>
      <string>Gbreve</string>
      <string>Gcommaaccent</string>
      <string>O</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Odieresis</string>
      <string>Ograve</string>
      <string>Ohungarumlaut</string>
      <string>Omacron</string>
      <string>Oslash</string>
      <string>Otilde</string>
      <string>OE</string>
      <string>Q</string>
    </array>
    <key>public.kern2.S</key>
    <array>
      <string>S</string>
      <string>Sacute</string>
      <string>Scaron</string>
      <string>Scedilla</string>
      <string>Scommaaccent</string>
    </array>
    <key>public.kern2.T</key>
    <array>
      <string>T</string>
      <string>Tcaron</string>
      <string>Tcedilla</string>
      <string>Tcommaaccent</string>
      <string>trademark</string>
    </array>
    <key>public.kern2.U</key>
    <array>
      <string>U</string>
      <string>Uacute</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Ugrave</string>
      <string>Uhungarumlaut</string>
      <string>Umacron</string>
      <string>Uogonek</string>
      <string>Uring</string>
    </array>
    <key>public.kern2.V</key>
    <array>
      <string>V</string>
    </array>
    <key>public.kern2.W</key>
    <array>
      <string>W</string>
    </array>
    <key>public.kern2.X</key>
    <array>
      <string>X</string>
    </array>
    <key>public.kern2.Y</key>
    <array>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ydieresis</string>
    </array>
    <key>public.kern2.Z</key>
    <array>
      <string>Z</string>
      <string>Zacute</string>
      <string>Zcaron</string>
      <string>Zdotaccent</string>
    </array>
    <key>public.kern2.a</key>
    <array>
      <string>abreve</string>
      <string>acircumflex</string>
      <string>agrave</string>
      <string>amacron</string>
      <string>aogonek</string>
      <string>aring</string>
      <string>atilde</string>
      <string>ae</string>
      <string>ordfeminine</string>
    </array>
    <key>public.kern2.acutecomb</key>
    <array>
      <string>acute</string>
      <string>acutecomb</string>
    </array>
    <key>public.kern2.acutecomb.case</key>
    <array>
      <string>acutecomb.case</string>
    </array>
    <key>public.kern2.ampersand</key>
    <array>
      <string>ampersand</string>
    </array>
    <key>public.kern2.asciicircum</key>
    <array>
      <string>asciicircum</string>
    </array>
    <key>public.kern2.asciitilde</key>
    <array>
      <string>asciitilde</string>
    </array>
    <key>public.kern2.asterisk</key>
    <array>
      <string>asterisk</string>
    </array>
    <key>public.kern2.at</key>
    <array>
      <string>at</string>
    </array>
    <key>public.kern2.b</key>
    <array>
      <string>b</string>
    </array>
    <key>public.kern2.backslash</key>
    <array>
      <string>backslash</string>
    </array>
    <key>public.kern2.bar</key>
    <array>
      <string>bar</string>
    </array>
    <key>public.kern2.braceleft</key>
    <array>
      <string>braceleft</string>
    </array>
    <key>public.kern2.braceright</key>
    <array>
      <string>braceright</string>
    </array>
    <key>public.kern2.bracketleft</key>
    <array>
      <string>bracketleft</string>
    </array>
    <key>public.kern2.bracketright</key>
    <array>
      <string>bracketright</string>
    </array>
    <key>public.kern2.brevecomb</key>
    <array>
      <string>breve</string>
      <string>brevecomb</string>
    </array>
    <key>public.kern2.brokenbar</key>
    <array>
      <string>brokenbar</string>
    </array>
    <key>public.kern2.bullet</key>
    <array>
      <string>bullet</string>
    </array>
    <key>public.kern2.caroncomb</key>
    <array>
      <string>caron</string>
      <string>caroncomb</string>
    </array>
    <key>public.kern2.caroncomb.alt</key>
    <array>
      <string>caroncomb.alt</string>
    </array>
    <key>public.kern2.cedillacomb</key>
    <array>
      <string>cedilla</string>
      <string>cedillacomb</string>
    </array>
    <key>public.kern2.circumflexcomb</key>
    <array>
      <string>circumflex</string>
      <string>circumflexcomb</string>
    </array>
    <key>public.kern2.circumflexcomb.case</key>
    <array>
      <string>circumflexcomb.case</string>
    </array>
    <key>public.kern2.comma</key>
    <array>
      <string>quotesinglbase</string>
      <string>quotedblbase</string>
      <string>commaaccentcomb</string>
    </array>
    <key>public.kern2.commaturnedabovecomb</key>
    <array>
      <string>commaturnedabovecomb</string>
    </array>
    <key>public.kern2.copyright</key>
    <array>
      <string>copyright</string>
    </array>
    <key>public.kern2.currency</key>
    <array>
      <string>currency</string>
    </array>
    <key>public.kern2.dagger</key>
    <array>
      <string>dagger</string>
    </array>
    <key>public.kern2.daggerdbl</key>
    <array>
      <string>daggerdbl</string>
    </array>
    <key>public.kern2.degree</key>
    <array>
      <string>degree</string>
    </array>
    <key>public.kern2.dieresiscomb</key>
    <array>
      <string>dieresiscomb</string>
    </array>
    <key>public.kern2.dieresiscomb.case</key>
    <array>
      <string>dieresiscomb.case</string>
    </array>
    <key>public.kern2.divide</key>
    <array>
      <string>divide</string>
    </array>
    <key>public.kern2.dollar</key>
    <array>
      <string>dollar</string>
    </array>
    <key>public.kern2.dotaccentcomb</key>
    <array>
      <string>dotaccentcomb</string>
    </array>
    <key>public.kern2.eight</key>
    <array>
      <string>eight</string>
    </array>
    <key>public.kern2.emdash</key>
    <array>
      <string>plusminus</string>
    </array>
    <key>public.kern2.equal</key>
    <array>
      <string>equal</string>
      <string>notequal</string>
    </array>
    <key>public.kern2.eth</key>
    <array>
      <string>eth</string>
    </array>
    <key>public.kern2.euro</key>
    <array>
      <string>euro</string>
    </array>
    <key>public.kern2.exclam</key>
    <array>
      <string>exclam</string>
    </array>
    <key>public.kern2.exclamdown</key>
    <array>
      <string>exclamdown</string>
    </array>
    <key>public.kern2.f</key>
    <array>
      <string>f</string>
      <string>f_b.liga</string>
      <string>f_f.liga</string>
      <string>f_f_i.liga</string>
      <string>f_h.liga</string>
    </array>
    <key>public.kern2.five</key>
    <array>
      <string>five</string>
    </array>
    <key>public.kern2.florin</key>
    <array>
      <string>florin</string>
    </array>
    <key>public.kern2.four</key>
    <array>
      <string>four</string>
    </array>
    <key>public.kern2.g</key>
    <array>
      <string>g</string>
      <string>gbreve</string>
      <string>gcommaaccent</string>
    </array>
    <key>public.kern2.gravecomb</key>
    <array>
      <string>grave</string>
      <string>gravecomb</string>
    </array>
    <key>public.kern2.gravecomb.case</key>
    <array>
      <string>gravecomb.case</string>
    </array>
    <key>public.kern2.greater</key>
    <array>
      <string>greater</string>
      <string>greaterequal</string>
    </array>
    <key>public.kern2.guillemetleft</key>
    <array>
      <string>guillemetleft</string>
    </array>
    <key>public.kern2.guillemetright</key>
    <array>
      <string>guillemetright</string>
    </array>
    <key>public.kern2.guillemotleft</key>
    <array>
      <string>guilsinglleft</string>
    </array>
    <key>public.kern2.guillemotright</key>
    <array>
      <string>guilsinglright</string>
    </array>
    <key>public.kern2.h</key>
    <array>
      <string>h</string>
      <string>k</string>
      <string>kcommaaccent</string>
      <string>l</string>
      <string>lacute</string>
      <string>lcaron</string>
      <string>lcommaaccent</string>
      <string>thorn</string>
      <string>germandbls</string>
    </array>
    <key>public.kern2.hungarumlautcomb</key>
    <array>
      <string>hungarumlautcomb</string>
    </array>
    <key>public.kern2.hyphen</key>
    <array>
      <string>hyphen</string>
      <string>endash</string>
      <string>emdash</string>
    </array>
    <key>public.kern2.i</key>
    <array>
      <string>idotless</string>
      <string>iacute</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>idotaccent</string>
      <string>igrave</string>
      <string>imacron</string>
      <string>iogonek</string>
    </array>
    <key>public.kern2.idotless</key>
    <array>
      <string>i</string>
    </array>
    <key>public.kern2.j</key>
    <array>
      <string>jdotless</string>
    </array>
    <key>public.kern2.jdotless</key>
    <array>
      <string>j</string>
    </array>
    <key>public.kern2.less</key>
    <array>
      <string>less</string>
      <string>lessequal</string>
    </array>
    <key>public.kern2.logicalnot</key>
    <array>
      <string>logicalnot</string>
    </array>
    <key>public.kern2.lslash</key>
    <array>
      <string>lslash</string>
    </array>
    <key>public.kern2.macron</key>
    <array>
      <string>macron</string>
    </array>
    <key>public.kern2.micro</key>
    <array>
      <string>micro</string>
    </array>
    <key>public.kern2.minus</key>
    <array>
      <string>minus</string>
    </array>
    <key>public.kern2.multiply</key>
    <array>
      <string>multiply</string>
    </array>
    <key>public.kern2.n</key>
    <array>
      <string>m</string>
      <string>n</string>
      <string>nacute</string>
      <string>ncaron</string>
      <string>ncommaaccent</string>
      <string>ntilde</string>
      <string>r</string>
      <string>racute</string>
      <string>rcaron</string>
      <string>rcommaaccent</string>
    </array>
    <key>public.kern2.nine</key>
    <array>
      <string>nine</string>
    </array>
    <key>public.kern2.numbersign</key>
    <array>
      <string>numbersign</string>
    </array>
    <key>public.kern2.o</key>
    <array>
      <string>a</string>
      <string>aacute</string>
      <string>adieresis</string>
      <string>c</string>
      <string>cacute</string>
      <string>ccaron</string>
      <string>ccedilla</string>
      <string>d</string>
      <string>dcaron</string>
      <string>dcroat</string>
      <string>e</string>
      <string>eacute</string>
      <string>ecaron</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>edotaccent</string>
      <string>egrave</string>
      <string>emacron</string>
      <string>eogonek</string>
      <string>o</string>
      <string>oacute</string>
      <string>ocircumflex</string>
      <string>odieresis</string>
      <string>ograve</string>
      <string>ohungarumlaut</string>
      <string>omacron</string>
      <string>oslash</string>
      <string>otilde</string>
      <string>oe</string>
      <string>q</string>
      <string>ordmasculine</string>
      <string>cent</string>
    </array>
    <key>public.kern2.ogonekcomb</key>
    <array>
      <string>ogonek</string>
      <string>ogonekcomb</string>
    </array>
    <key>public.kern2.one</key>
    <array>
      <string>one</string>
      <string>oneinferior</string>
    </array>
    <key>public.kern2.p</key>
    <array>
      <string>p</string>
    </array>
    <key>public.kern2.paragraph</key>
    <array>
      <string>paragraph</string>
    </array>
    <key>public.kern2.parenleft</key>
    <array>
      <string>parenleft</string>
    </array>
    <key>public.kern2.parenright</key>
    <array>
      <string>parenright</string>
    </array>
    <key>public.kern2.percent</key>
    <array>
      <string>percent</string>
      <string>perthousand</string>
    </array>
    <key>public.kern2.period</key>
    <array>
      <string>period</string>
      <string>comma</string>
      <string>colon</string>
      <string>semicolon</string>
      <string>ellipsis</string>
      <string>periodcentered</string>
      <string>dieresis</string>
      <string>dotaccent</string>
      <string>hungarumlaut</string>
    </array>
    <key>public.kern2.plus</key>
    <array>
      <string>plus</string>
    </array>
    <key>public.kern2.question</key>
    <array>
      <string>question</string>
    </array>
    <key>public.kern2.questiondown</key>
    <array>
      <string>questiondown</string>
    </array>
    <key>public.kern2.quotedbl</key>
    <array>
      <string>quotedbl</string>
    </array>
    <key>public.kern2.quotedblleft</key>
    <array>
      <string>quoteleft</string>
    </array>
    <key>public.kern2.quotedblright</key>
    <array>
      <string>quoteright</string>
    </array>
    <key>public.kern2.quoteleft</key>
    <array>
      <string>quotedblleft</string>
    </array>
    <key>public.kern2.quoteright</key>
    <array>
      <string>quotedblright</string>
    </array>
    <key>public.kern2.quotesingle</key>
    <array>
      <string>quotesingle</string>
    </array>
    <key>public.kern2.registered</key>
    <array>
      <string>registered</string>
    </array>
    <key>public.kern2.ringcomb</key>
    <array>
      <string>ring</string>
      <string>ringcomb</string>
    </array>
    <key>public.kern2.ringcomb.case</key>
    <array>
      <string>ringcomb.case</string>
    </array>
    <key>public.kern2.s</key>
    <array>
      <string>s</string>
      <string>sacute</string>
      <string>scaron</string>
      <string>scedilla</string>
      <string>scommaaccent</string>
    </array>
    <key>public.kern2.section</key>
    <array>
      <string>section</string>
    </array>
    <key>public.kern2.seven</key>
    <array>
      <string>seven</string>
    </array>
    <key>public.kern2.six</key>
    <array>
      <string>six</string>
    </array>
    <key>public.kern2.slash</key>
    <array>
      <string>slash</string>
    </array>
    <key>public.kern2.space</key>
    <array>
      <string>space</string>
    </array>
    <key>public.kern2.sterling</key>
    <array>
      <string>sterling</string>
    </array>
    <key>public.kern2.t</key>
    <array>
      <string>t</string>
      <string>tcaron</string>
      <string>tcedilla</string>
      <string>tcommaaccent</string>
    </array>
    <key>public.kern2.three</key>
    <array>
      <string>three</string>
    </array>
    <key>public.kern2.tildecomb</key>
    <array>
      <string>approxequal</string>
      <string>tilde</string>
      <string>tildecomb</string>
    </array>
    <key>public.kern2.tildecomb.case</key>
    <array>
      <string>tildecomb.case</string>
    </array>
    <key>public.kern2.two</key>
    <array>
      <string>two</string>
    </array>
    <key>public.kern2.u</key>
    <array>
      <string>u</string>
      <string>uacute</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>ugrave</string>
      <string>uhungarumlaut</string>
      <string>umacron</string>
      <string>uogonek</string>
      <string>uring</string>
    </array>
    <key>public.kern2.underscore</key>
    <array>
      <string>underscore</string>
    </array>
    <key>public.kern2.v</key>
    <array>
      <string>v</string>
    </array>
    <key>public.kern2.w</key>
    <array>
      <string>w</string>
    </array>
    <key>public.kern2.x</key>
    <array>
      <string>x</string>
    </array>
    <key>public.kern2.y</key>
    <array>
      <string>y</string>
      <string>yacute</string>
      <string>ydieresis</string>
    </array>
    <key>public.kern2.yen</key>
    <array>
      <string>yen</string>
    </array>
    <key>public.kern2.z</key>
    <array>
      <string>z</string>
      <string>zacute</string>
      <string>zcaron</string>
      <string>zdotaccent</string>
    </array>
    <key>public.kern2.zero</key>
    <array>
      <string>zero</string>
      <string>zeroinferior</string>
    </array>
  </dict>
</plist>
